// webfont('font-name', 'file-name', chrome-hack-boolean, 'weight')

 webfont('Aleo', 'Aleo-Regular', false, 'normal')
 webfont('Aleo Bold Italic', 'Aleo-BoldItalic', false, 'normal')
 webfont('Aleo Italic', 'Aleo-Italic', false, 'normal')
 webfont('Aleo Bold', 'Aleo-Bold', false, 'normal')
 
 

