.map-background
	background-color $gray
	
	@media $tablet-max 
		background-image url('../images/mapmobile.jpg')
		background-position center bottom 
		background-size 100% 50%
		background-repeat no-repeat
		padding-top 10rem 
		padding-bottom 50rem
		text-align center
		
	.section-title
		font-size 2.425rem 
		color #000
		margin-bottom 3rem 
		font-family $ai
		
		@media $small-desktop-min
			margin-left 2.6rem
		
	.section-text 
		font-size 2.003rem 
		font-family $r
		
		@media $small-desktop-min
			margin-left 2.6rem
			max-width 33.6rem 
		
		@media $tablet-max
			margin auto
			width 100%
		
	.center-content
			
		@media $small-desktop-min
			background-image url('../images/map.jpg')
			background-size contain 
			background-repeat no-repeat
			background-position center right 
			background-size 60% 100%
			padding-top 6.4rem
			padding-bottom 13.5rem 
			position relative
			
	b 
		font-family $abi 
		
	.pin 
		position absolute
		transition(all 0.25s ease-in-out)
		
		@media $tablet-max 
			display none
		
		&:hover
			transform(scale(1.1))
			cursor pointer
			
			.city-name
				color #000
		
		&.sp 
			right 33rem
			top 19.7rem
			
			@media $smallest-desktop-minmax
				right 25.5rem
				top 19.7rem
			
			.city-name 
				transform(translate(.45rem, .75rem))
					
		&.rj 
			right 36.5rem 
			top 20.8rem
			
			@media $smallest-desktop-minmax
				right 28.7rem
				top 20.8rem
			
			.city-name
				transform(translate(-10rem, .7rem))
				text-align right
				
		&.miami 
			top 9.3rem 
			right 45.7rem
			
			@media $smallest-desktop-minmax 
				right 36.7rem
			
			.city-name
				transform(translate(.2rem, 1.2rem))
				
		&.bogota
			top 16.3rem 
			right 42rem
			
			@media $smallest-desktop-minmax
				right 33rem
		
	.city-name
		font-family $ab
		font-size 1.28rem 
		color #6c6b6b
		display inline-block
		vertical-align top
			
.city-background
	background url('../images/city.jpg') no-repeat center center / cover 
	min-height 27.8rem 
	text-align center
	position relative
	
	@media $tablet-max
		padding-top 10rem 
		padding-bottom 10rem
	
	&:before, &:after
		content ''
		display block
		position absolute
		right 0 
		left 0 
		margin auto
	
	&:before
		width 27rem
		background-color $red 
		top -.3rem
		height 1.4rem
		z-index 3
		
	&:after
		height 100%
		width 100%
		background-color rgba(#000, 0.67)
		top 0
	
	@media $small-desktop-min
		padding-top 3rem 
		
	.center-content 
		position relative 
		z-index 2
		
	.section-title
		color #FFF 
		font-size 3.172rem
		margin-bottom 3.6rem 
		font-family $a 
		
	.section-text
		font-size 1.611rem
		color #FFF 
		margin auto
		font-family $r
		line-height 2.228rem
		
		@media $small-desktop-min
			width 53rem
		

		

	